.search-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1.75rem;
  position: sticky;
  top: 5rem;
}

@import url("./search-form/search-form.scss");
